.footer{
    background: var(--Black);
    color: var(--White);
    margin-top: 10rem;
    padding: 2.8rem 6rem;

   &__section{
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__footericon{
        display: flex;
        gap: 1rem;
        cursor: pointer;
    }

   }
   &__title{
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
   }
}
@media(max-width:700px){
    .footer{
       margin-top: 44px;
    }
}