.header {
    // width: 100%;
    display: flex;
    justify-content: space-between;
    nav {
        display: inline-grid;
        grid-template-columns: auto 0.1fr;
        align-items: center;
        width: 73%;
        margin: 0px auto;
        margin-top: 5rem;
    }
}

@media (max-width: 400px) {
    .header {
        height: 100vh;
        position: absolute;
        justify-content: space-between;
        width: 100%;
        background-color: black;
    }
}
@media (max-width: 855px) {
    ul {
        display: none;
    }
    .hambagar img {
        display: block;
    }
}
@media (min-width: 855px) {
    .hambagar img {
        display: none;
    }
}
