.intractive{
width:76%;
position: relative;
    &__intractive-iamge{
        padding: 2rem;
        margin-top: 7rem;
    }
    &__title{
        position: absolute;
        bottom: 0;
        height: 50%;
        width: 50%;
        right: -12rem;
        background-color: #fff;
        border: 1px solid red;
        h1{
            width: 100%;
            margin-top: 4rem;
            text-align: center;
            font-size: 2.8rem;
            text-transform: uppercase;
            color: var(--Very-Dark-Gray);
            
            
        }
        p{
            text-align: left;
            padding: 1rem;
            width: 70%;
            margin: 12px auto;
            color: var(--Dark-Gray);
        }
    }
}